.keylist
  %h2
    Key List
  %ul
    - keys.each do |key|
      %li
        %a
          = key[:name]

%form{method:'POST', action:'/sshkeys'}
  %h1
    Create new keypair.
  %input{type:'submit', value:'generate'}
